@font-face {
  font-family: "mas"; /* Project id 2983026 */
  src: url('~@/static/iconfont/mas/iconfont.eot?t=1643166406184'); /* IE9 */
  src: url('~@/static/iconfont/mas/iconfont.eot?t=1643166406184#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~@/static/iconfont/mas/iconfont.woff2?t=1643166406184') format('woff2'),
       url('~@/static/iconfont/mas/iconfont.woff?t=1643166406184') format('woff'),
       url('~@/static/iconfont/mas/iconfont.ttf?t=1643166406184') format('truetype'),
       url('~@/static/iconfont/mas/iconfont.svg?t=1643166406184#mas') format('svg');
}

.mas {
  display: inline;
  font-family: "mas" !important;
  /* font-size: 16px; */
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mas-badge-f:before {
  content: "\e61d";
}

.mas-time-f:before {
  content: "\e65e";
}

.mas-mail-m:before {
  content: "\e61a";
}

.mas-star-m:before {
  content: "\e61b";
}

.mas-star:before {
  content: "\e61c";
}

