$table-color-border: #000000;
$table-cell-padding: 14rpx;
$table-header-cell-color: #000000;
$table-data-cell-color: #333333;

.ma-table {}

// #ifdef MP-WEIXIN
._table {
	display: table;
}
._colgroup {
	display: table-column-group;
}
._col {
	display: table-column;
}
._thead {
	display: table-header-group;
}
._tbody {
	display: table-row-group;
}
._tr {
	display: table-row;
}
::v-deep ma-th,
::v-deep ma-td {
	display: table-cell;
}
// #endif

.t-head-table,
.t-data-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

.t-data-table {
	color: $table-header-cell-color;
}

.t-head-table {
	color: $table-data-cell-color;
}

.ma-table.t--border {
	.t-head-table,
	.t-data-table {
		margin-bottom: -1px;
	}
	
	// 微信小程序，边框样式
	// #ifdef MP-WEIXIN
	::v-deep ma-th,
	::v-deep ma-td {
		border: 1px solid $table-color-border;
	}
	// #endif
}
