@import "../ma-form/ma-form-item.scss";

.ma-form-input {}

.fi-value-input {
	width: 100%;
	padding: 0;
	border: none;
	font-size: $form-fontSize;
	color: $form-color-value;
	background: transparent;
	outline: none;
}